<h1>Rails ❤️ Firebase Auth</h1>

<h2>What this is</h2>
<p>This app demonstrates the use of Firebase Auth and Rails to manage user accounts and authentication across browser and API.</p>
<ol>
  <li>Click the "Sign in with Google" button to authenticate with Google</li>
  <li>View the user response that comes back from Firebase auth</li>
  <li>Click the "Test Auth'd API Call" button to send an authenticated request to the API</li>
  <li>Reload the page and confirm that auth state is persisted across page reloads</li>
  <li>Click the "Sign Out" button to log out of Firebase auth</li>
</ol>

<h2>Actions</h2>
<div id="loading">Loading...</div>

<div id="anonymous" style="display: none">
  <button id="loginButton">Sign in with Google</button>
</div>

<div id="authenticated" style="display: none">
  <div id="userInfo"></div>
  <button id="testAPICall">Test Auth'd API Call</button>
  <button id="logoutButton">Sign Out</button>
</div>

<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
<script>
  var firebaseConfig = {
    apiKey: "<%= ENV['FIREBASE_WEB_API_KEY'] %>",
    authDomain: "<%= ENV['FIREBASE_AUTH_DOMAIN'] %>",
    projectId: "<%= ENV['FIREBASE_PROJECT_ID'] %>",
    storageBucket: "<%= ENV['FIREBASE_STORAGE_BUCKET'] %>",
    messagingSenderId: "<%= ENV['FIREBASE_MESSAGING_SENDER_ID'] %>",
    appId: "<%= ENV['FIREBASE_APP_ID'] %>",
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  const loginButton = document.getElementById("loginButton");
  const logoutButton = document.getElementById("logoutButton");
  const loading = document.getElementById("loading");
  const anonymous = document.getElementById("anonymous");
  const authenticated = document.getElementById("authenticated");
  const userInfo = document.getElementById("userInfo");

  let currentUser;

  loginButton.addEventListener("click", async function signInWithGoogle() {
    const provider = new firebase.auth.GoogleAuthProvider();
    try {
      console.log("Signing in...");
      const result = await firebase.auth().signInWithPopup(provider);
      console.log("Signed in!");
    } catch (err) {
      console.error(err);
    }
  });

  logoutButton.addEventListener("click", async function signout() {
    console.log("Signing out...");
    await firebase.auth().signOut();
    console.log("Signed out!");
  });

  testAPICall.addEventListener("click", async function() {
    // https://firebase.google.com/docs/reference/js/firebase.User#getidtoken
    const idToken = await currentUser.getIdToken();
    try {
      const resp = await fetch('/api/me', {
        headers: {
          'Authorization': `Bearer ${idToken}`,
        }
      });
      const body = await resp.json();
      alert(JSON.stringify(body, null, 2));
    } catch (err) {
      alert(`Could not request user data from API: ${err}`);
    }
  });

  firebase.auth().onAuthStateChanged((user) => {
    console.log("Auth state changed!", user);
    if (user) {
      // User is signed in, see docs for a list of available properties
      // https://firebase.google.com/docs/reference/js/firebase.User
      userInfo.innerHTML = `<p>Hello, ${
        user.displayName
      }!</p>
      <h3>Response from Firebase Auth</h3>
      <code><pre>${JSON.stringify(user, null, 2)}</pre></code>`;

      currentUser = user;

      loading.style.display = "none";
      anonymous.style.display = "none";
      authenticated.style.display = "block";
    } else {
      // User is signed out
      userInfo.innerHTML = "";

      currentUser = null;
  
      loading.style.display = "none";
      anonymous.style.display = "block";
      authenticated.style.display = "none";
    }
  });
</script>
